@font-face {
    font-family: "Manrope-Regular";
    src: url(../fonts/Manrope-Regular.ttf);
}

@font-face {
    font-family: "Manrope-Medium";
    src: url(../fonts/Manrope-Medium.ttf);
}

@font-face {
    font-family: "Manrope-Bold";
    src: url(../fonts/Manrope-Bold.ttf);
}

:root {
    --font-regular: "Manrope-Regular";
    --font-medium: "Manrope-Medium";
    --font-bold: "Manrope-Bold";
    --color-primary: #EB4C27;
    --color-dark: #1E1E2A;
    --color-gray-dark: #626C7A;
    --color-gray: #90969F;
    --color-gray-light: #E6E6E6;
    --color-bg: #F2F2F2;
    --color-white: #FFFFFF;
    --color-red: #E2342B;
    --color-yellow: #FFE102;
    --color-green: #6BC132;
    --color-primary-light: #FEE8D3;
    --color-blue: #FEE8D3;
    --box-shadow-primary: 0px 2px 8px 0 rgba(0, 0, 0, .14)
}

body {
    background-color: var(--color-bg);
    font-family: var(--font-regular);
    color: var(--color-dark);
}
a {
    text-decoration: none;
}
img.contain {
    object-fit: contain;
}

.wrapper {
    width: 100%;
    min-height: 100%;
}
.container {
    padding-left: 0;
    padding-right: 0;
}
.header {

}

.header-panel {
    background-color: var(--color-dark);
    padding: 6px 0;
}
.lenguage-select__active {
    color: var(--color-white);
}
.header-panel__block {
    gap: 32px;
}
.notice-button {
    position: relative;
}
.notice-count {
    color: var(--color-white);
    background-color: var(--color-green);
    border-radius: 2px;
    font-size: 12px;
    line-height: 16px;
    padding: 0 4px;
    min-width: 16px;
    text-align: center;
    position: absolute;
    top: -2px;
    right: -2px;
}
.header-panel__contacts {
    
}
.header-panel__social-links {
    gap: 16px;
}
.header-panel__contacts-active a {
    color: var(--color-white);
}
.lenguage-select__dropdown, .header-panel__contacts-dropdown {
    display: none;
}
.header-main {
    padding: 12px 0;
}
.header-main .container {
    max-height: 48px;
}
.header-logo, .search-main {
    margin-right: 32px;
}
.catalog-main {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 12px;
    gap: 4px;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 16px;
}
.search-main {
    border: 1px solid var(--color-gray);
    padding: 8px 12px;
    background-color: var(--color-white);
    border-radius: 8px;
    gap: 8px;
    width: 100%;
}
.search-main.focus {
    border: 1px solid var(--color-primary);
}
.search-main__select-head {
    background-color: var(--color-bg);
    border-radius: 4px;
    gap: 4px;
    padding: 4px 8px;
    cursor: pointer;
}
.search-input {
    flex-basis: 70%;
    outline: none;
    border: none;
    font-family: var(--font-medium);
    font-size: 16px;
    line-height: 24px;
}
.search-input:focus::placeholder {
    opacity: 0;
}
.search-input::placeholder {
    color: var(--color-gray);
}
.search-photo {
    white-space: nowrap;
    gap: 4px;
    padding: 4px 8px;
    cursor: pointer;
    background-color: var(--color-bg);
    border-radius: 6px;
    font-size: 12px;
    line-height: 16px;
}
.header-buttons {
    gap: 24px;
}
.header-buttons__item {
    cursor: pointer;
    font-size: 14px;
    font-family: var(--font-medium);
}

.swiper-container {
    position: relative;
    padding-bottom: 30px;
}
.main-swiper {
    border-radius: 12px;
}
.main-swiper .swiper-button-next::after, .main-swiper .swiper-button-prev::after {
    color: var(--color-primary);
    font-size: 16px;
    font-weight: 700;
}
.swiper-button-next::after {
    margin-left: 4px;
}
.swiper-button-prev::after {
    margin-right: 4px;
}
.main-swiper .swiper-button-next, .main-swiper .swiper-button-prev {
    width: 40px;
    height: 40px;
    background-color: var(--color-white);
    border-radius: 100%;
}
.swiper-container .swiper-pagination-bullet {
    width: 24px;
    height: 2px;
    background-color: var(--color-gray);
    opacity: 1;
    border-radius: 4px;
}
.swiper-container .swiper-pagination-bullet-active {
    background-color: var(--color-primary);
}

h2.title {
    font-family: var(--font-bold);
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.64px; 
}
.popular-grid {
    display: grid;
    gap: 32px 20px;
    margin-top: 24px;
    grid-template-columns: repeat(7, 1fr);
}
.popular-gird__item {
    max-width: 168px;
}

.popular-gird__item img{
    border-radius: 8px;
    margin-bottom: 8px;
}

.popular-gird__item .text {
    font-size: 14px;
    font-family: var(--font-medium);
    line-height: 20px;
    text-overflow: ellipsis;
    margin-bottom: 8px;
}

.popular-gird__item .price {
    font-size: 16px;
    font-family: var(--font-bold);
    line-height: 24px;
}

.popular-gird__item .prev-price {
    font-family: var(--font-regular);
    color: var(--color-gray-dark);
    text-decoration: line-through;
    margin-left: 4px;
}