@font-face {
    font-family: "Manrope-Regular";
    src: url(../fonts/Manrope-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-variant: normal;
}

@font-face {
    font-family: "Manrope-Medium";
    src: url(../fonts/Manrope-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Manrope-Bold";
    src: url(../fonts/Manrope-Bold.ttf);
    font-weight: 700;
}

:root {
    --font-regular: "Manrope-Regular";
    --font-medium: "Manrope-Medium";
    --font-bold: "Manrope-Bold";
    --color-primary: #EB4C27;
    --color-dark: #1E1E2A;
    --color-gray-dark: #626C7A;
    --color-gray: #90969F;
    --color-gray-light: #E6E6E6;
    --color-bg: #F2F2F2;
    --color-white: #FFFFFF;
    --color-red: #E2342B;
    --color-btn-hover: #CA301C;
    --color-btn-press: #A91913;
    --color-yellow: #FFE102;
    --color-green: #6BC132;
    --color-primary-light: #FEE8D3;
    --color-blue: #FEE8D3;
    --box-shadow-primary: 0px 2px 8px 0 rgba(0, 0, 0, .14)
}

body {
    background-color: var(--color-white);
    font-family: var(--font-regular);
    color: var(--color-dark);
}
body.no-scroll {
    overflow: hidden;
}

a {
    text-decoration: none;
}
ol, ul, h1, h2, h3, h4 {
    padding: 0;
    margin: 0;
}
img.contain {
    object-fit: contain;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
}
.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: var(--font-medium);
    font-size: 16px;
    line-height: 24px;
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--color-white);
    z-index: 100;
    display: none;
}
.loader.active {
    display: block;
}
.loader-container {
    width: fit-content;
    gap: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.loader-animate {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.loader-animate .line {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: loader-animate 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.loader-animate .line:nth-child(1) {
    animation-delay: -0.45s;
}
.loader-animate .line:nth-child(2) {
    animation-delay: -0.3s;
}
.loader-animate .line:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes loader-animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.loader .text {
    width: fit-content;
}
.catalog {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, var(--color-bg), var(--color-bg) 49%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5));
    display: none;
    z-index: 20;
}
.catalog.active {
    display: flex;
}
.catalog-bg {
    background-color: var(--color-bg);
}
.catalog-nav {
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: var(--color-bg);
}
.catalog-nav-select {
    display: flex;
    gap: 24px;
}
.catalog-nav-select__item {
    opacity: 0.5;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    transition: 300ms ease-in-out;
}
.catalog-nav-select__item img {
    width: 59px;
}
.catalog-nav-select__item.active {
    border-bottom: 1px solid var(--color-dark);
    opacity: 1;
}
.catalog-nav-list {
    width: 320px;
}
.catalog-nav-list__item {
    padding: 12px 0;
    font-family: var(--font-medium);
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    letter-spacing: -0.32px;
}
.catalog-grid-wrappper {
    background-color: var(--color-white);
    padding: 32px 24px;
    display: none;
}
.catalog-grid-wrappper.active {
    display: block;
}
.catalog-close {
    cursor: pointer;
    width: 24px;
}
.catalog-grid {
    display: grid;
    gap: 24px 24px;
    grid-template-columns: repeat(3, 1fr);
    max-height: 85vh;
    overflow-y: auto;
    margin-top: 24px;
    padding: 0 12px 0 0;
    scrollbar-color: var(--color-gray) var(--color-bg);
    scrollbar-width: thin;
}

.catalog-grid::-webkit-scrollbar {
    width: 6px;
}
.catalog-grid::-webkit-scrollbar-track {
    background-color: var(--color-bg);
}
.catalog-grid::-webkit-scrollbar-thumb {
    background-color: var(--color-gray);
    border-radius: 6px;
}

.catalog-grid__item {
    display: flex;
    flex-direction: column;
    max-width: 260px;
}
.catalog-grid__item .link {
    color: var(--color-dark);
    padding: 12px 0;
}
.container {
    padding-left: 0;
    padding-right: 0;
}
.container.margin-top {
    margin-top: 60px;
}
.header-panel {
    background-color: var(--color-dark);
    padding: 6px 0;
}
.lenguage-select__active {
    color: var(--color-white);
}
.header-panel__block {
    gap: 32px;
}
.header-panel-notice {
    position: relative;
}
.notice-count {
    color: var(--color-white);
    background-color: var(--color-green);
    border-radius: 2px;
    font-size: 12px;
    line-height: 16px;
    padding: 0 4px;
    min-width: 16px;
    text-align: center;
    position: absolute;
    top: -2px;
    right: -2px;
}

.header-panel-notice.active .header-panel-notice-dropdown {
    display: block;
}
.header-panel-notice-head {
    cursor: pointer;
}
.header-panel-notice-dropdown {
    border-radius: 8px;
    background-color: var(--color-white);
    padding: 12px 16px 0;
    position: absolute;
    display: none;
    width: 393px;
    right: 0;
    top: 32px;
    z-index: 11;
    box-shadow: var(--box-shadow-primary);
}
.notice-dropdown-nav__item {
    font-family: var(--font-bold);
    font-size: 20px;
    line-height: 28px;
    color: var(--color-gray);
    padding-bottom: 6px;
    border-bottom: 1px solid transparent;
    transition: 300ms ease-in-out;
    cursor: pointer;
}
.notice-dropdown-list {
    margin-top: 24px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    max-height: 388px;
}
.notice-dropdown-list::-webkit-scrollbar {
    display: none;
}
.notice-dropdown-list__item {
    margin-bottom: 12px;
    padding: 12px 16px 12px 16px;
    border: 1px solid var(--color-gray-light);
    background-color: var(--color-white);
    border-radius: 8px;
    position: relative;
    display: block;
}
.notice-dropdown-list__item.unread {
    background-color: var(--color-gray-light);
}
.notice-dropdown-list__item .title {
    display: flex;
    justify-content: space-between;
    font-family: var(--font-bold);
    font-size: 16px;
    line-height: 24px;
}
.notice-dropdown-list__item .image {
    position: absolute;
    top: 12px;
    right: 16px;
}
.notice-dropdown-list__item .date {
    font-family: var(--font-regular);
    font-size: 12px;
    line-height: 16px;
    color: var(--color-gray-dark);
    margin-top: 12px;
}


.notice-dropdown-nav__item.active {
    color: var(--color-dark);
    border-bottom: 1px solid var(--color-dark);
}

.header-panel__contacts {
    position: relative;
}
.header-panel__contacts.active .header-panel__contacts-dropdown{
    display: flex;
}
.header-panel__contacts-dropdown {
    flex-direction: column;
    border-radius: 8px;
    background-color: var(--color-white);
    padding: 0 30px;
    position: absolute;
    width: 460px;
    right: 0;
    top: 26px;
    z-index: 11;
    box-shadow: var(--box-shadow-primary);
}
.contacts-dropdown {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    padding: 0 10px 0 28px;
    margin-top: 32px;
    width: 462px;
}
.contacts-dropdown__item {
    border-top: 1px solid var(--color-gray-light);
    padding: 11px 0 12px;
}
.contacts-dropdown__item img {
    width: 32px;
    float: left;
    margin: 3px 12px 0 -12px;
}
.contacts-dropdown__item .title {
    font-family: var(--font-regular);
    font-size: 12px;
    line-height: 16px;
    color: var(--color-gray-dark);
}
.contacts-dropdown__item .text {
    font-family: var(--font-regular);
    font-size: 16px;
    line-height: 24px;
    color: var(--color-dark);
    margin-left: 32px;
    display: block;
}
.header-panel__contacts-dropdown .contacts-dropdown__item:nth-child(1),
.contacts-dropdown .contacts-dropdown__item:nth-child(1) {
    border-top: none;
}
.header-panel__social-links {
    gap: 16px;
}
.header-panel__contacts-head a {
    color: var(--color-white);
}
.lenguage-select__dropdown, .header-panel__contacts-dropdown {
    display: none;
}

.header-main {
    padding: 12px 0;
}
.header-main .container {
    max-height: 48px;
}
.header-logo, .search-main {
    margin-right: 32px;
}
.catalog-main {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 12px;
    gap: 4px;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 16px;
    transition: 260ms ease-in-out;
}
.catalog-main:hover {
    background-color: var(--color-btn-hover);
}
.catalog-main:active {
    background-color: var(--color-btn-press);
}
.search-main {
    border: 1px solid var(--color-gray);
    padding: 8px 12px;
    background-color: var(--color-white);
    border-radius: 8px;
    gap: 8px;
    width: 100%;
    position: relative;
}
.search-main.focus {
    border: 1px solid var(--color-primary);
}
.search-main__select {
    position: relative;
}
.search-main-clear {
    display: none;
    cursor: pointer;
}
.search-main-result {
    position: absolute;
    z-index: 13;
    top: 48px;
    right: 0;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow-primary);
    width: 86%;
    border-radius: 8px;
    padding: 0 16px;
    display: none;
    flex-direction: column;
}
.search-main-result.active {
    display: flex;
}
a.search-main-result__item {
    font-family: var(--font-regular);
    font-size: 14px;
    line-height: 20px;
    color: var(--color-dark);
    display: inline-flex;
    align-items: center;
    padding: 12px 0;
}
a.search-main-result__item b {
    font-family: var(--font-bold);
}
a.search-main-result__item.memory {
    color: var(--color-gray-dark);
}
.search-main-result__item.memory::before {
    content: '';
    width: 24px;
    height: 24px;
    background-image: url(../images/search-memory.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    margin-right: 8px;    
}
.search-main__select-head {
    background-color: var(--color-bg);
    border-radius: 4px;
    gap: 4px;
    padding: 4px 8px;
    cursor: pointer;
    width: 84px;
    height: 32px;
}
.search-main__select.active .search-main__select-dropdown {
    display: flex;
}
.search-main__select-dropdown {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 30px;
    width: 212px;
    padding: 0 16px;
    background-color: var(--color-white);
    border-radius: 8px;
    box-shadow: var(--box-shadow-primary);
    z-index: 11;
}
.select-dropdown__item {
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.select-dropdown__item img {
    max-width: 44px;
}
.select-dropdown__item::after {
    content: '';
    width: 24px;
    height: 24px;
    background-position: center center;
    background-size: cover;
}
.select-dropdown__item.active::after {
    background-image: url(../images/1688-accept.svg);
}
.search-input {
    flex-basis: 70%;
    outline: none;
    border: none;
    font-family: var(--font-medium);
    font-size: 16px;
    line-height: 24px;
}
.search-input:focus::placeholder {
    opacity: 0;
}
.search-input::placeholder {
    color: var(--color-gray);
}
.search-photo {
    white-space: nowrap;
    gap: 4px;
    padding: 4px 8px;
    cursor: pointer;
    background-color: var(--color-bg);
    border-radius: 6px;
    font-size: 12px;
    line-height: 16px;
}
.header-buttons {
    gap: 24px;
}
.header-buttons__item, a.header-buttons__item {
    cursor: pointer;
    font-size: 14px;
    font-family: var(--font-medium);
    position: relative;
    color: var(--color-dark);
}

.header-buttons__item-dropdown {
    background-color: var(--color-white);
    border-radius: 8px;
    top: 44px;
    right: 20px;
    width: 220px;
    flex-direction: column;
    display: none;
    padding: 0 6px 0 12px;
    z-index: 11;
    position: absolute;
}
.header-buttons__item-dropdown a {
    color: var(--color-gray-dark);
}

.header-buttons__item.active .header-buttons__item-dropdown {
    display: flex;
}

.header-buttons__item-dropdown__item {
    font-family: var(--font-medium);
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    padding: 12px 0;
}
.header-buttons__item-dropdown__item .notice-count {
    position: static;
    margin-left: 8px;
}
.header-buttons__item-dropdown img {
    margin-right: 8px;
}
.main {
    flex: 1;
}
.breadcrumbs {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 16px;
}
.breadcrumbs .breadcrumbs__item:first-child::before {
    display: none;
}
a.breadcrumbs__item {
    color: var(--color-gray-dark);
    font-size: 12px;
    line-height: 16px;
}
h1.title {
    font-family: var(--font-bold);
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -0.96px; 
}
.breadcrumbs__item::before {
    content: '';
    width: 12px;
    height: 12px;
    background-image: url(../images/breadcrumb-arrow.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    display: inline-block;
    position: relative;
    top: 2px;
}
.swiper-container {
    position: relative;
    padding-bottom: 30px;
    margin-top: 16px;
    margin-bottom: 10px;
}
.main-swiper {
    border-radius: 12px;
}
.main-swiper .swiper-button-next::after, .main-swiper .swiper-button-prev::after {
    color: var(--color-primary);
    font-size: 16px;
    font-weight: 700;
}
.swiper-button-next::after {
    margin-left: 4px;
}
.swiper-button-prev::after {
    margin-right: 4px;
}
.main-swiper .swiper-button-next, .main-swiper .swiper-button-prev {
    width: 40px;
    height: 40px;
    background-color: var(--color-white);
    border-radius: 100%;
}
.swiper-container .swiper-pagination-bullet {
    width: 24px;
    height: 2px;
    background-color: var(--color-gray);
    opacity: 1;
    border-radius: 4px;
}
.swiper-container .swiper-pagination-bullet-active {
    background-color: var(--color-primary);
}

h2.title {
    font-family: var(--font-bold);
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.64px; 
}
.title .title-more {
    font-size: 16px;
    font-family: var(--font-medium);
    line-height: 24px;
    cursor: pointer;
    color: var(--color-primary);
}
.title-more svg {
    margin-left: 6px;
    display: none;
}
.main-grid {
    display: grid;
    gap: 32px 20px;
    margin-top: 24px;
    grid-template-columns: repeat(7, 1fr);
}
.main-grid__item {
    max-width: 168px;
    position: relative;
}

.main-grid__item img{
    border-radius: 8px;
    margin-bottom: 8px;
}
.main-grid .discount {
    font-size: 14px;
    font-family: var(--font-medium);
    line-height: 20px;
    background-color: var(--color-yellow);
    border-radius: 4px;
    padding: 0 3px;
    position: absolute;
    display: none;
    top: 8px;
    left: 8px;
}
.main-grid .discount.active {
    display: block;
}

.main-grid__item .text {
    font-size: 14px;
    font-family: var(--font-medium);
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    box-orient: vertical;
    margin-bottom: 8px;
}

.main-grid__item .price {
    font-size: 16px;
    font-family: var(--font-bold);
    line-height: 24px;
}

.main-grid__item .prev-price {
    font-family: var(--font-regular);
    color: var(--color-gray-dark);
    text-decoration: line-through;
    margin-left: 4px;
}
.main-brand-swiper {
    position: relative;
    margin-top: 24px;
}
.main-brand-swiper .swiper-slide {
    width: fit-content;
}
.main-brand-swiper .swiper-button-next::after, .main-brand-swiper .swiper-button-prev::after {
    color: var(--color-gray-dark);
    font-size: 16px;
    font-weight: 700;
}

.main-brand-swiper .swiper-button-next, .main-brand-swiper .swiper-button-prev {
    width: 40px;
    height: 40px;
    background-color: var(--color-white);
    border-radius: 100%;
    box-shadow: var(--box-shadow-primary);
}
.main-brand-swiper .swiper-button-next {
    right: -20px;
}
.main-brand-swiper .swiper-button-prev {
    left: -20px;
}

.blog-container {
    display: flex;
    gap: 24px;
    margin-top: 24px;
    overflow: hidden;
}
.blog-container.active {
    overflow: visible;
    flex-wrap: wrap;
}
.blog-banner-img {
    width: 100%;
    border-radius: 8px;
    margin-top: 16px;
    margin-bottom: 32px;
}
.blog-date {
    font-family: var(--font-regular);
    color: var(--color-gray-dark);
    font-size: 12px;
    line-height: 16px;
    margin: 12px 0 32px;
}
.blog-text {
    font-family: var(--font-medium);
    color: var(--color-gray-dark);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.32px; 
    margin-top: 12px;
    max-width: 880px;
}
h4.title {
    font-family: var(--font-bold);
    color: var(--color-dark);
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.4px;
}
h4.blog-title {
    font-family: var(--font-bold);
    color: #000000;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.4px;
    margin-top: 32px;
    max-width: 880px;
}
.blog-container__item {
    max-width: 312px;
    width: 100%;
}
.blog-container__item img {
    border-radius: 8px;
}
.blog-container__item .header {
    font-family: var(--font-bold);
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.4px;
    margin-top: 12px;
    color: var(--color-dark);
}
.blog-container__item .date {
    font-family: var(--font-regular);
    font-size: 12px;
    line-height: 16px;
    color: var(--color-gray-dark);
    margin-top: 4px;
}

.about-container {
    margin: 24px 0 0;
    gap: 84px;
}
.about-container__text {
    font-family: var(--font-regular);
    font-size: 16px;
    line-height: 24px;
    color: var(--color-gray-dark);
    letter-spacing: -0.32px; 
}
.about-container__text p:last-child {
    margin-bottom: 0;
}
.about-container__img {
    object-fit: contain;
}
.footer {
    background-color: var(--color-dark);
    padding: 44px 0;
    margin-top: 32px;
}

.footer-list {
    list-style: none;
}

.footer-list__item {
    font-size: 14px;
    font-family: var(--font-medium);
    line-height: 20px;
    margin-bottom: 12px;
}
.footer-list__item a {
    color: var(--color-white);    
}
.footer-list__item.header {
    font-size: 16px;
    font-family: var(--font-bold);
    line-height: 24px;
    color: var(--color-gray);
}
.app-buttons {
    gap: 16px;
}
.footer-social-links {
    gap: 40px;
}
.copyright {
    margin-top: 32px;
}
.copyright .text {
    font-family: var(--font-regular);
    font-size: 12px;
    line-height: 16px;
    color: var(--color-gray);
    margin-bottom: 8px;
}


/***********subcatalog.html*********/

.product-count {
    font-family: var(--font-regular);
    font-size: 14px;
    line-height: 20px;
    color: var(--color-gray);
    margin-left: 12px;
    letter-spacing: 0;
}
.subcatalog-sorting {
    font-family: var(--font-medium);
    font-size: 14px;
    line-height: 20px;
    gap: 4px;
    cursor: pointer;
}
.subcatalog-search {
    border: 1px solid var(--color-gray);
    padding: 10px 12px;
    background-color: var(--color-white);
    border-radius: 8px;
    gap: 8px;
    width: 100%;
    max-width: 822px;
    position: relative;
    margin-top: 32px;
}
.subcatalog-container {
    margin-top: 32px;
}
.subcatalog-filter {
    gap: 32px;
    max-width: 244px;
}
.subcatalog-filter-accordion-head {
    margin-bottom: 16px;
}
.subcatalog-filter-accordion-head img {
    transform: rotate(0);
    margin-top: 0px;
}
.subcatalog-filter-accordion.active .subcatalog-filter-accordion-head img {
    transform: rotate(180deg);
    margin-top: -2px;
}
.subcatalog-filter-accordion-dropdown {
    gap: 16px;
    max-height: 0;
    display: none;
}
.subcatalog-filter-accordion.active .subcatalog-filter-accordion-dropdown {
    max-height: 100%;
    display: flex;
}

.checkbox-primary {
    position: relative;
    user-select: none;
    padding-left: 32px;
    cursor: pointer;
}
.checkbox-primary input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: var(--color-white);
    border: 1px solid var(--color-gray);
    border-radius: 4px;
}

.checkbox-primary input:checked ~ .checkmark {
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    background-image: url(../images/checkbox-active.svg);
    background-size: 12px 12px;
    background-position: center center;
    background-repeat: no-repeat;
}

.noUi-target {
    box-shadow: none;
    border-radius: 4px;
    border: 0;
    background: var(--color-gray-light);
    height: 2px;
}
.noUi-connect {
    background: var(--color-primary);
}
.noUi-origin {

}
.noUi-horizontal .noUi-handle {
    width: 12px;
    height: 12px;
    right: -6px;
    top: -5px;
    border-radius: 100%;
    background: var(--color-primary);
    border: none;
    box-shadow: none;
}
.noUi-handle::after, .noUi-handle::before {
    display: none;
}